/*

  This will be the CSS file for the Commodity plugin.
  If this file is not in the plugin folder itself, it can cause some visual bugs.

*/
.vault-value-modal {
    text-align: center;
    font-family: var(--font-interface);
	padding: 10px;
}

.vault-header {
    font-size: 1.2em;
    font-weight: bold;
}

.vault-value {
    font-size: 2em;
    font-weight: bold;
}

.vault-time {
    font-size: 1em;
    color: var(--text-muted);
}
